# Ignore everything
/*

# Exclude specified files
!AbsGram.hs
!Env.hs
!ErrM.hs
!LexGram.hs
!LexGram.x
!Makefile
!ParGram.hs
!ParGram.y
!PrintGram.hs
!SkelGram.hs
!TestGram.hs
!gram.cf
!TypeSystem.hs
!Errs.hs